{% extends "::base.html.twig" %}

{% block body %}
    <h1>{{ category }}</h1>
    {% for product in products %}
        {% include "RithisStoreBundle::product.html.twig" %}
    {% endfor %}
{% endblock %}
